server:
  port: 8081

spring:
  application:
    name: demo

    datasource:
      p6spy:
        enable-logging: true
        logging: slf4j
        multiline: true

  datasource:
    url: jdbc:mysql://localhost:3306/demo
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        highlight_sql: true
